.get {
    padding-bottom: 88px;

    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: toRem(17);
        line-height: 20px;
        font-weight: 700;
        max-width: 445px;
        width: 100%;
        text-align: center;
        margin-bottom: 26px;
    }

    &__form {
        max-width: 366px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        &-wrap {
            display: flex;
            gap: 60px;

            @include a (tablet-xl) {
                flex-direction: column;
                gap: 18px;
                width: 100%;
            }
        }

        &-input {
            width: 100%;
            padding: 12px 8px;
            border: 1px solid $dark-color;

            &::placeholder {
                font-size: toRem(14);
                color: #A0A0A0;
            }
        }

        &-btn {
            font-size: toRem(14);
            width: 115px;
            line-height: 33px;
            background-color: $dark-color;
            color: $light-color;
            border-radius: 100px;
        }
    }
}