.interviews {
    padding-bottom: 79px;

    &__title {
        max-width: 630px;
        width: 100%;
        text-align: center;
        margin: 0 auto 290px;

        @include a (tablet-xl) {
            margin-bottom: 50px;
        }
    }

    &__bg {
        background-color: #F0F0F0;
        padding: 198px 0 52px;

        @include a (tablet-xl) {
            padding: 50px 0;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @include a (tablet-xl) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    &__item {
        max-width: 240px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 288px;
            height: 351px;
            top: -385px;

            @include a (tablet-xl) {
                display: none;
            }
        }

        &-1::before {
            background: url(/src/assets/images/interviews-item-1.png);
        }

        &-2::before {
            background: url(/src/assets/images/interviews-item-2.png);
        }

        &-3::before {
            background: url(/src/assets/images/interviews-item-3.png);
        }

        &-descr {
            font-size: toRem(22);
            line-height: 26px;
            font-weight: 700;
            letter-spacing: 0.6px;
            text-align: center;
            margin-bottom: 34px;
        }

        &-span {
            font-size: toRem(19);
            line-height: 22px;
            display: block;
            text-align: center;

            &:nth-child(2) {
                margin-bottom: 44px;
            }
        }

        &-link {
            font-size: toRem(18);
            font-weight: 700;
            text-decoration: underline;
            color: $dark-color;
        }
    }
}